* {
    font-family: "Space Grotesk", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pass {
    width: 300px;
    height: 40px;
    border-radius: 5px 20px;
    background-color: rgb(135, 222, 147);
    padding-left: 20px;
    font-size: 24px;
}
.passwordBox {
    margin-bottom: 10px;
}


