body {
    background-color:rgb(167, 208, 255);
}
.page {
    background-color:steelblue;
    justify-content: center;
    width: 400px;
    height: 200px; 
    margin: 0 auto;
    border-radius: 5px 20px 5px 20px;
    padding: 10px;
    font-family: "Space Grotesk", sans-serif;
    box-shadow: 5px 5px 5px;
    line-height: 30px;
    text-align: center;
}
.escribe {
    width: 200px;
    height: 30px;
}
.entrar {
    width: 90px;
    height: 30px;
    margin-top: 18px;
    background-color: rgb(53, 35, 255);
    color:aliceblue
}
.entrar:hover {
    background-color: black;
}